@{
    ViewBag.Title = "Home Page";
}

<div style="height:80px;">
</div>

<div ng-app="app">
    <div ng-controller="sampleCtrl as vm">
        <ul>
            <li dir-paginate="item in vm.collection | itemsPerPage:3" total-items="vm.totalCount">{{item}}</li>
        </ul>

        <dir-pagination-controls boundary-links="false" auto-hide="false" on-page-change="vm.pageChange()" template-url="/Scripts/angularpagination/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angularpagination/dirPagination.js"></script>
    <script type="text/javascript">
        var app = angular.module("app", ['angularUtils.directives.dirPagination']);

        app.controller("sampleCtrl", function ($scope) {
            var vm = this;
            vm.totalCount = 0;

            vm.pageChange = function (num) {
                vm.collection = [val(), val(), val()];
                vm.totalCount = Math.ceil(val() * 100);

                console.log(vm.totalCount);
            }

            function val() {
                return Math.random();
            }

            vm.pageChange();
        });

    </script>
}